<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bootstrap Checkout Sample</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
            type="text/javascript"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css'>

    <link rel="stylesheet" href="css/style.css">


</head>

<body>

<div class="container-fluid">
    <div class="page-header">
        <h1>Checkout</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>I'll pay with&hellip;</h3>
            <div class="list-group">
                <!-- my card -->
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <div class="row radio">
                            <div class="col-xs-3">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"
                                           checked>
                                    My Visa Card
                                </label>
                            </div>
                            <div class="col-xs-9">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <dl class="dl-small">
                                            <dt>Credit Card Number</dt>
                                            <dd>**********1111</dd>
                                        </dl>
                                    </div>
                                    <div class="col-xs-2">
                                        <dl class="dl-small">
                                            <dt>Expiration</dt>
                                            <dd>07/2016</dd>
                                        </dl>
                                    </div>
                                    <div class="col-xs-6">
                                        <dl class="dl-small">
                                            <dt>Billing Address</dt>
                                            <dd>1509 Latona St, Philadelphia, PA 19146</dd>
                                        </dl>
                                    </div>
                                </div>
                                <button class="btn btn-sm">Edit</button>
                                <button class="btn btn-sm btn-link">Delete this card</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card -->
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <div class="row radio">
                            <div class="col-xs-3">
                                <label data-toggl-e="collapse" data-target="#newcard">
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    A New Credit Card
                                </label>
                            </div>
                            <div class="col-xs-9">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img src="https://lovewithfood.com/assets/credit_cards/cards-b3a7c7b8345355bf110ebedfd6401312.png"
                                             height="25" alt=""/>
                                    </a>
                                    <div class="media-body" id="newcard">
                                        We accept these credit cards.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- pay-easy -->
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <div class="row radio">
                            <div class="col-xs-3">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    Pay-Easy
                                </label>
                            </div>
                            <div class="col-xs-9">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img src="https://www.paypalobjects.com/webstatic/mktg/logo-center/PP_Acceptance_Marks_for_LogoCenter_76x48.png"
                                             height="25" alt=""/>
                                    </a>
                                    <div class="media-body">
                                        When you click "Place Order", you will be taken to the PayPal website.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="well">
                <button type="button" class="btn btn-primary btn-lg btn-block">Place Order</button>
            </div>
        </div>
    </div>
</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'></script>


</body>

</html>
